.filters-sidebar {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filters-sidebar h3 {
  color: #fe7a36;
  margin-bottom: 10px;
}

.filters-sidebar ul {
  list-style: none;
  padding: 0;
}

.filters-sidebar li {
  margin-bottom: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.filters-sidebar li:hover {
  color: #fe7a36;
}

.filters-sidebar input[type="range"] {
  width: 100%;
}
